<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, accept: 'image/png, image/jpg' %>
  </div>

  <div>
    <h5>Steps:</h5>
    <% @index = 1 %>
    <%= form.fields_for :recipe_steps do |step_form| %>
      <div class="step-container">
        <hr>
	<label><%= @index%></label>
        <div>
	  <%= step_form.text_area :text %>
	  <%= step_form.hidden_field :order, :value => @index %>
	  Upload photo: <%= step_form.file_field :photo, accept: 'image/png, image/jpg'%>
	</div>
      </div>
      <% @index = @index + 1 %>
      <br />
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
