<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <h4>Steps:</h4>
    <% @index = 1 %>
    <%= form.nested_fields_for :recipe_steps do |step_form| %>
      <div style="display: block;">
        <div><label><%= @index%></label></div>
        <div>
	  <%= step_form.text_area :text %>
	  <%= step_form.hidden_field :order, :value => @index %>
	</div>
      </div>
      <% @index = @index + 1 %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
