<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @recipe.image_url %>
</p>

<p>Steps</p>
<% @recipe.recipe_steps.each do |step| %>
<p><%= step.order %></p>
<div>
  <p><%= step.text %></p>
  <p>
    <% if step.photo.attached? %>
      <%= image_tag(step.photo.variant(resize: "100x100")) %>
    <% end %>
  </p>
<div>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
