<p id="notice"><%= notice %></p>
<h1>My account details</h1>
<p>
  <strong>Display Name:</strong>
  <%= @user.display_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Change password', change_password_path(@user) %> |
<%= link_to 'Back', root_url %>
